language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9"

# command to install dependencies
install:
  - pip install coverage
  - pip install coveralls

# command to run tests
script:
  - coverage run setup.py test

after_success:
  - coveralls
