# This workflow will lint the HanserDownloader repo
name: build

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12-dev"]
    steps:
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Installation
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install -r tests/requirements.txt

      - name: Check formatting with black
        uses: psf/black@stable

      - name: Lint with ruff
        uses: chartboost/ruff-action@v1
        with:
          version: 0.0.292

      - name: Typecheck with pyright
        uses: jakebailey/pyright-action@v1
        with:
          version: 1.1.330

      - name: Thorough check with pylint
        run: pylint pymend
      - name: Test with pytest
        run: |
          coverage run -m pytest --durations=10
          coverage report -m
          coverage json
          coverage html
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: htmlcov/
